*.o
*.d
*.asm
bootblock
entryother
initcode
initcode.out
kernel
kernel.sym
vectors.S
_cat
_echo
_forktest
_grep
_init
_kill
_ln
_ls
_mkdir
_rm
_sh
_stressfs
_usertests
_wc
_zombie
cat.sym
echo.sym
fs.img
grep.sym
init.sym
kill.sym
ln.sym
ls.sym
mkdir.sym
mkfs
rm.sym
sh.sym
stressfs.sym
usertests.sym
wc.sym
xv6.img
zombie.sym